<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>


<p><%= @yo %></p>
<p><%= @now %></p>

<% 3.times do %>
  <p>sample</p>
<% end %>


<%= link_to("kei teach link", kei_teach_path) %>
