<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue"></script>
        <title>tutorial</title>
    </head>
    <body>
        <div id="app4">
            <input type="text" placeholder="title" v-model="todo.title">
            <input type="text" placeholder="text" v-model="todo.text">
            <input type="text" placeholder="asign to someone" v-model="todo.asign">
            <button v-on:click="addTodo(todo)">Add todo</button>
            <ol>
                <li v-for="(todo, index) in todos">
                    {{ todo.title }} : {{ todo.text }}
                    <template v-if="todo.asign">: {{ todo.asign }}</template>
                </li>
            </ol>
        </div>
        <script>

        Vue.component('todo', {
            props: ['item'],
            template: '<li>{{ item.title }}: {{ item.text }} <template v-if="item.assign">: {{ item.asign }}</template></li>',

        });

        var app4 = new Vue(
            {
                el: '#app4',
                data: {
                    todo: {title: '', text: '', asign: ''},
                    todos: [
                        {title: 'yeah', text: 'learning js'},
                        {title: 'huh', text: 'go to gym'},
                        {title: 'mah', text: 'eat lunch'},
                    ]
                },
                methods: {
                    addTodo: function(item) {
                        // alert(item.text + " " + item.title);
                        this.todos.push(this.todo)
                        this.todo = {title: '', text: '', asign: ''}
                    }
                }
            }
        )



        </script>
    </body>
</html>
