<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue"></script>
        <title>Basic</title>
    </head>
    <body>

      <div id="vue-instance">
        <div v-if="isLoggedIn">
          Welcome {{ name }}!
          <button type="submit" v-on:click="logout">Logout</button>
          <ul>
            <li v-for="item in inventory">
              {{ item.name }} - ${{ item.price }}
            </li>
          </ul>
          <p>Double calcu</p>
          <input type="number" v-model="x">
          <p>{{ x }} * 2 = {{ doubleX }}</p>
        </div>
        <div v-else>
          <input type="text" v-model="name" placeholder="username">
          <input type="password" v-model="password" placeholder="password">
          <button v-on:click="login" type="submit">Login</button>
          <p v-if="errorMessage">{{ errorMessage }}</p>
        </div>
      </div>

        <script>

        var app = new Vue(
          {
            el: '#vue-instance',
            data: {
              name: '',
              isLoggedIn: false,
              password: '',
              errorMessage: '',
              inventory: [
                {name: 'MacBook Air', price: 1000},
                {name: 'MacBook Pro', price: 1800},
                {name: 'Lenovo W530', price: 1400},
                {name: 'Acer Aspire One', price: 300}
              ],
              x: 1,
            },
            computed: {
              doubleX: function() {
                return this.x * 2
              }
            },
            methods: {
              login: function() {
                if (this.name && this.password) {
                  this.isLoggedIn = true
                } else {
                  this.errorMessage = 'Value must be entered'
                }
                //console.log(isLoggedIn)
              },
              logout: function() {
                this.isLoggedIn = false
                //console.log(isLoggedIn)
              }
            }
          }
        )


        </script>
    </body>
</html>
